
 .centro {
           
            text-align: center;
            align-items:center; 
           

        }


 .Tarjeta{

     margin-left:22px;
     background-color:white;
     width:80%;
    margin-top:9%;



 }


 .Tarjetados{

     border-color:none;
     background-color:white;
     width:70%;
    margin-top:10%;



 }

 .AjustesDeLasTarjetas{

     margin-top:22px;


 }

 .BotonesFormulario{


     margin:0 auto;

 }

 .UltimoMargen{
     
     margin-bottom:22px;

 }

 .Ajuste{

    overflow:hidden;
 }

 .ListaDesplegable{
     margin-left:40px;
     margin-top:22px;

 }

 .Magenes{

     margin-left:7%;
 }

 .BotonesPrincipales{

     margin-top:4%;
 }

 .textoeditar{

     margin-top:22px;
 }

 .moberBoton{
     margin-left:22%;
 }